
<h2>FAQ</h2>

<div class='q'>
    How much do you charge?
    <div class='a'>
        Nothing!  Absolutely nothing!  It's all free!
    </div>
</div>

<div class='q'>
    How do you make money?
    <div class='a'>
        Volume!
    </div>
</div>
